{
  "extends": ["wesbos"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "class-methods-use-this": ["error", { "enforceForClassFields": "false" }]
  }
}
