@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: #ffffff;
  margin-top: 20px;
  background-color: rgb(143, 124, 124);
}

.weather__form {
  width: 300px;
  border-radius: 8px;
  padding-top: 40px;
  height: 250px;
  background-color: #a5aac1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.weather__custom-select {
  position: relative;
  margin-bottom: 70px;
}
.weather__select {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  width: 150px;
  padding: 10px;
  background-color: #4d5061;
  color: #ffffff;
}

.weather__arrow {
  position: absolute;
  top: 0;
  left: 116px;
  display: block;
  background-color: #4d5061;
  height: 100%;
  width: 30px;
  pointer-events: none;
}
.weather__arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.502);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.weather__button {
  background-color: #4d5061;
  width: 150px;
  border-radius: 6px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.3em;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.weather__button:hover {
  background-color: rgb(62, 61, 61);
}

.weather__info {
  font-size: 20px;
  width: 300px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4d5061;
  border-radius: 8px;
}
.weather__info > *:not(:last-child) {
  margin-bottom: 20px;
}

.weather__info-country {
  font-size: 1.25em;
}

.weather__info-city {
  font-size: 1.1em;
}

.weather__info-image {
  width: 50px;
  height: 50px;
}